/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/gothambold/gothambold1.eot");
  src: local("gothambold1"), url("../fonts/gothambold/gothambold1.woff") format("woff"), url("../fonts/gothambold/gothambold1.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/GothamBook/GothamBook.eot");
  src: local("GothamBook"), url("../fonts/GothamBook/GothamBook.woff") format("woff"), url("../fonts/GothamBook/GothamBook.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  height: 100%;
}

body, html {
  min-height: 100%;
  width: 100%;
  font-family: 'Gotham';
}

.clear::after, .clear::before {
  content: " ";
  display: table;
}

.clear::after {
  clear: both;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__item {
  margin-right: 10%;
}

.social__item:last-child {
  margin-right: 0;
}

.social__item-link {
  width: 45px;
  height: 45px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  padding: 14px 12px 8px;
}

.social__item-link:hover {
  border: 1px solid tomato;
  border-radius: 50%;
}

.social__item-link:hover .social__item-svg {
  fill: tomato;
  stroke: tomato;
}

.social__item-svg {
  fill: #fff;
  stroke: none;
  width: 16px;
  height: 16px;
}

.header {
  background: url("../images/header-bg.png") top center no-repeat;
  min-height: 800px;
  background-size: cover;
}

@media (max-width: 570px) {
  .header {
    min-height: 700px;
  }
}

.header__capters {
  vertical-align: middle;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-top: 22%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__title {
  font-size: 80px;
  font-weight: 700;
  margin-bottom: 40px;
}

@media (min-width: 570), (max-width: 768px) {
  .header__title {
    font-size: 60px;
    margin-top: 50px;
  }
}

.header__subtitle {
  font-size: 18px;
}

.header__arrow {
  text-align: center;
  margin: 225px auto 0;
  -webkit-transition: .3s;
  transition: .3s;
}

@media (max-width: 570px) {
  .header__arrow {
    margin-top: 130px;
  }
}

.header__arrow-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 35px;
  width: 40px;
  padding: 17px 20px 0;
  position: relative;
  border: 1px solid #fff;
  border-radius: 50%;
  -webkit-animation: scroll-arrow 1.5s ease-in-out infinite;
          animation: scroll-arrow 1.5s ease-in-out infinite;
}

.header__arrow-link:hover {
  color: tomato;
}

.header__arrow-link:hover {
  border: 1px solid tomato;
  border-radius: 50%;
}

@-webkit-keyframes scroll-arrow {
  0% {
    top: 0;
  }
  50% {
    top: 15px;
  }
  100% {
    top: 0;
  }
}

@keyframes scroll-arrow {
  0% {
    top: 0;
  }
  50% {
    top: 15px;
  }
  100% {
    top: 0;
  }
}

.header .navigation {
  padding-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 570px) {
  .header .navigation {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.header .navigation__logo {
  max-width: 240px;
  max-height: 60px;
  padding-right: 5%;
}

.header .navigation__burger {
  display: none;
  cursor: pointer;
}

@media (max-width: 992px) {
  .header .navigation__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    margin: auto 0;
  }
}

.header .navigation__burger-span {
  background: #fff;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  top: 9px;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.header .navigation__burger::before, .header .navigation__burger::after {
  content: '';
  background: #fff;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.header .navigation__burger::before {
  top: 0;
}

.header .navigation__burger::after {
  bottom: 0;
}

.header .navigation__burger.active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
}

.header .navigation__burger.active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
}

.header .navigation__burger.active .navigation__burger-span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.header .nav-manu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 700px;
      flex-basis: 700px;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

@media (max-width: 992px) {
  .header .nav-manu {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 265px;
    background: #55b7ff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 70px 0;
  }
  .header .nav-manu .nav-manu__item {
    font-size: 16px;
  }
}

.header .nav-manu.active {
  top: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav-manu.active .nav-manu__item {
  padding: 10px;
}

.header .nav-manu.active .nav-manu__item::before {
  display: none;
}

.header .nav-manu__item {
  position: relative;
  margin: 0;
  margin-right: 7%;
  font-size: 14px;
}

@media (max-width: 1200px) {
  .header .nav-manu__item {
    margin-right: 0;
  }
}

.header .nav-manu__item:last-child {
  margin-right: 0;
}

.header .nav-manu__item::before {
  width: 10px;
  height: 10px;
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: '';
}

.header .nav-manu__item:first-child::before {
  background: #ffffff;
}

.header .nav-manu__item:hover::before {
  background: #ffffff;
}

.header .nav-manu__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  padding: 0 15px;
  -webkit-transition: .3s;
  transition: .3s;
  position: relative;
}

.header .nav-manu__link:hover {
  font-weight: 500;
}

@media (max-width: 570px) {
  .header__social {
    display: none;
  }
}

.social__list {
  margin-top: 15px;
}

.projects {
  margin: 0 auto;
}

.projects__line {
  width: 100px;
  height: 1px;
  background-color: #2c4058;
  margin: 100px auto 40px;
}

.projects__title {
  font-size: 44px;
  font-weight: 700;
  color: #2c4058;
  text-transform: uppercase;
  text-align: center;
}

.project {
  margin: 100px 0;
}

.project__imgs {
  position: relative;
}

@media (max-width: 768px) {
  .project__imgs--2 {
    margin-top: 55px;
  }
}

.project__img2 {
  margin-top: -55%;
}

.project__desc {
  color: #2c4058;
  margin-top: 20px;
}

.project__title {
  font-size: 22px;
}

.project__title-strong {
  font-size: 44px;
  font-weight: 700;
  margin-top: -5px;
}

.project__text {
  margin: 40px 0 35px;
  font-size: 18px;
}

.project__btn {
  text-transform: uppercase;
  background: transparent;
  outline: 1px solid #2c4058;
  padding: 20px 40px;
  cursor: pointer;
}

.project__btn:hover {
  color: #7e5aff;
  outline: 1px solid #55b7ff;
  font-weight: 500;
}

.project__address {
  margin-top: 60px;
  padding-left: 20px;
  font-style: oblique;
  position: relative;
}

.project__address::before {
  content: '';
  height: 15px;
  width: 15px;
  background: url(../images/addressMarker.svg) no-repeat center;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
}

.slider {
  background: url("../images/slider-bg.png") top center no-repeat;
  background-size: cover;
  min-height: 1050px;
}

@media (max-width: 768px) {
  .slider {
    min-height: 880px;
  }
}

.slider__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 500;
  color: #ffffff;
  padding: 180px 0 100px;
}

@media (max-width: 768px) {
  .slider__title {
    padding: 100px 0 60px;
  }
}

.slider-block {
  color: #2c4058;
  margin: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider-block--1 {
  background: #ffffff url("../images/news1.png") top center no-repeat;
  background-size: contain;
}

.slider-block--2 {
  background: #ffffff url("../images/news2.png") top center no-repeat;
  background-size: contain;
}

.slider-block--3 {
  background: #ffffff url("../images/news3.png") top center no-repeat;
  background-size: contain;
}

.slider-block__text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 230px;
  margin-top: 82%;
  margin-bottom: 30px;
}

.slider-block__title {
  font-size: 22px;
  font-weight: 700;
}

.slider-block__text {
  font-size: 18px;
}

.slider-block__about-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-block__author-img {
  max-width: 60px;
  max-height: 60px;
  margin-right: 18px;
}

.slider-block__author {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.slider-block__data {
  color: #55b7ff;
  font-size: 14px;
}

.slick-dots {
  bottom: -65px;
}

.slick-dots li button::before {
  font-size: 16px;
  border: 2px solid #fff;
  border-radius: 50%;
  content: '';
  width: 10px;
  height: 10px;
  -webkit-transition: .5s;
  transition: .5s;
}

.slick-dots li.slick-active button::before {
  background: #fff;
}

.slick-next:before {
  content: '\203A';
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 8px 16px 12px;
}

.slick-next:before:hover {
  color: #55b7ff;
  border: 1px solid #55b7ff;
  border-radius: 50%;
  font-weight: 500;
}

.slick-prev:before {
  content: '\2039';
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 8px 16px 12px;
  margin-right: 10px;
  position: absolute;
  left: -20px;
  top: -5px;
}

.slick-prev:before:hover {
  color: #55b7ff;
  border: 1px solid #55b7ff;
  border-radius: 50%;
  font-weight: 500;
}

.gallery {
  color: #2c4058;
  min-height: 700px;
}

.gallery__line {
  width: 100px;
  height: 1px;
  background-color: #2c4058;
  margin: 140px auto 40px;
}

.gallery__title {
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 100px;
}

.gallery__img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery__small-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery__img--big {
  width: 50%;
}

@media (max-width: 768px) {
  .gallery__img--big {
    margin-bottom: 10px;
  }
}

.gallery__img--small {
  width: 48%;
  height: 48%;
}

.gallery__img--2 {
  margin: 0 10px 10px 0;
}

.gallery__img--4 {
  margin-right: 10px;
}

.gallery__btn {
  text-transform: uppercase;
  background: transparent;
  outline: 1px solid #2c4058;
  padding: 20px 40px;
  cursor: pointer;
  margin: 60px auto 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery__btn:hover {
  color: #7e5aff;
  outline: 1px solid #55b7ff;
  font-weight: 500;
}

.map {
  width: 100%;
  height: 700px;
  position: relative;
}

.form {
  color: #2c4058;
  position: absolute;
  top: -60%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 768px;
  height: 450px;
  background: #ffffff;
  padding: 60px 0 60px;
}

.form__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form__line {
  width: 100px;
  height: 1px;
  background-color: #2c4058;
  margin: 0 auto;
}

.form__line--2 {
  display: none;
}

.form__title {
  font-size: 44px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 30px auto 60px;
  text-align: center;
}

.form__info {
  font-size: 18px;
}

.form__item {
  margin-bottom: 20px;
  position: relative;
  padding-left: 30px;
}

.form__item-link {
  color: #2c4058;
  text-decoration: none;
}

.form__item--address::before {
  content: '';
  height: 15px;
  width: 15px;
  background: url(../images/blueMarker.svg) no-repeat center;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
}

.form__item--tel::before {
  content: '';
  height: 15px;
  width: 15px;
  background: url(../images/phone.svg) no-repeat center;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
}

.form__item--mail::before {
  content: '';
  height: 15px;
  width: 15px;
  background: url(../images/mail.svg) no-repeat center;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
}

.form__item--time::before {
  content: '';
  height: 15px;
  width: 15px;
  background: url(../images/clock.svg) no-repeat center;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
}

.form__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__input {
  color: #2c4058;
  background: transparent;
  font-size: 18px;
  border-bottom: 1px solid #2c4057cd;
  margin-bottom: 20px;
  padding: 10px 34px 10px 3px;
}

.form__input:focus {
  border-bottom: 1px solid #2c4058;
  color: #2c4058;
}

.form__btn {
  background: transparent;
  text-transform: uppercase;
  outline: 1px solid #2c4058;
  padding: 15px 35px;
  cursor: pointer;
  margin-top: 30px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.form__btn:hover {
  color: #7e5aff;
  outline: 1px solid #55b7ff;
  font-weight: 500;
}

@media (max-width: 768px) {
  .form {
    max-width: 440px;
    min-height: 660px;
    position: relative;
  }
  .form .form__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 33px;
  }
  .form .form__line--2 {
    display: block;
    margin: 30px auto;
  }
}

@media (max-width: 440px) {
  .form {
    max-width: 100%;
    min-height: 660px;
  }
  .form__content {
    padding: 0;
  }
}

.footer {
  background: url("../images/footer-bg.png") top center no-repeat;
  background-size: cover;
  min-height: 500px;
  color: #fff;
  position: relative;
}

.footer__block {
  padding-top: 200px;
}

.footer__logo {
  margin-left: 14%;
}

.footer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 45px;
  margin-left: 15%;
  font-size: 14px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__line {
  padding: 0 20px;
}

.footer__img {
  width: 12px;
  height: 12px;
}

@media (max-width: 768px) {
  .footer .footer__block {
    padding-top: 35px;
    padding-bottom: 100px;
  }
  .footer .footer__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .footer__line {
    display: none;
  }
  .footer .footer__copyright {
    margin-bottom: 15px;
  }
}
/*# sourceMappingURL=styles.css.map */