.footer {
  background: url('../images/footer-bg.png') top center no-repeat;
	background-size: cover;
  min-height: 500px;
  color: #fff;
  position: relative;


  &__block {
    padding-top: 200px;
  }

  &__logo {
    margin-left: 14%;
  }

  &__text {
    display: flex;
    margin-top: 45px;
    margin-left: 15%;
    font-size: 14px;
    justify-content: center;
    align-items: center;
  }

  &__copyright {

  }

  &__line {
    padding: 0 20px;
  }

  &__author {

  }

  &__img {
    width: 12px;
    height: 12px;
  }
  
  @media (max-width: 768px) {
		.footer {
    
      &__block {
        padding-top: 35px;
        padding-bottom: 100px;
      }

      &__text {
        flex-direction: column;
        justify-content: center;
      }

      &__line {
        display: none;
    }

    &__copyright {
      margin-bottom: 15px;
    }
  }
}
}