.form {
	color: #2c4058;
	position: absolute;
	top: -60%;
	left: 0;
	right: 0;
  margin: 0 auto;
	width: 768px;
	height: 450px;
	background: #ffffff;
	padding: 60px 0 60px;

		&__content {
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;
		}


    &__line {
			width: 100px;
			height: 1px;
			background-color: #2c4058;
			margin: 0 auto;

			&--2 {
				display: none;
			}
		}
		
		&__title {
			font-size: 44px;
			font-weight: 500;
			text-transform: uppercase;
			margin: 30px auto 60px;
			text-align: center;
		}

		&__info {
			font-size: 18px;
		}

		&__item {
			margin-bottom: 20px;
			position: relative;
			padding-left: 30px;

			&-link {
				color: #2c4058;
				text-decoration: none;
			}

			&--address {


				&::before {
					content: '';
					height: 15px;
					width: 15px;
					background: url(../images/blueMarker.svg) no-repeat center;
					background-size: contain;
					position: absolute;
					top: 0;
					left: 0;
				}
			}

			&--tel {
				

				&::before {
					content: '';
					height: 15px;
					width: 15px;
					background: url(../images/phone.svg) no-repeat center;
					background-size: contain;
					position: absolute;
					top: 0;
					left: 0;
				}
			}

			&--mail {
				

				&::before {
					content: '';
					height: 15px;
					width: 15px;
					background: url(../images/mail.svg) no-repeat center;
					background-size: contain;
					position: absolute;
					top: 0;
					left: 0;
				}
			}

			&--time {
				

				&::before {
					content: '';
					height: 15px;
					width: 15px;
					background: url(../images/clock.svg) no-repeat center;
					background-size: contain;
					position: absolute;
					top: 0;
					left: 0;
				}
			}
		}

	&__inputs {
		display: flex;
		flex-direction: column;
	}

	&__input {
		color: #2c4058;
		background: transparent;
		font-size: 18px;
		border-bottom: 1px solid #2c4057cd;
		margin-bottom: 20px;
		padding: 10px 34px 10px 3px;

		&:focus {
			border-bottom: 1px solid #2c4058;
			color: #2c4058;
			
		}
	}

	&__btn {
		background: transparent;
		text-transform: uppercase;
		outline: 1px solid #2c4058;
		padding: 15px 35px;
		cursor: pointer;
		margin-top: 30px;
		align-self: flex-end;

		&:hover {
      color: #7e5aff;
      outline: 1px solid #55b7ff;
      font-weight: 500;
    }
	}

	@media (max-width: 768px) {
		max-width: 440px;
		min-height: 660px;

		.form__content{
			flex-direction: column;
			padding: 0 33px;
		}

		.form__line--2{
			display: block;
			margin: 30px auto;
		}

	}

	@media (max-width: 440px) {
		max-width: 100%;
		min-height: 660px;

		.form__content{
			flex-direction: column;
			padding: 0 33px;
		}

		.form__line--2{
			display: block;
			margin: 30px auto;
		}

	}
}

