.header {
    background: url('../images/header-bg.png') top center no-repeat;
		min-height: 800px;
    // background-size: 100%;

	&__capters {
		vertical-align: middle;
		text-transform: uppercase;
		text-align: center;
		color: #fff;
    margin-top: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
	}

	&__title {
		font-size: 80px;
		font-weight: 700;
		margin-bottom: 40px;
	}

	&__subtitle {
		font-size: 18px;
	}

  &__arrow{
    text-align: center;
    margin: 25% auto 0;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 42px;
    transition: .3s;
      animation: scroll-arrow 1.5s ease-in-out infinite;

    
    &-link {
      text-decoration: none;
      color: #ffffff;
      font-size: 35px;
      width: 40px;
      padding: 0 10px;
      position: relative;
      

      &:hover{
        color: blue;

    }
    &:hover{
    border: 1px solid blue;
    }

    

    @keyframes scroll-arrow {
      0%{
          top: 0;
      }
      50%{
          top: 15px;
      }

      100%{
          top: 0;
      }
    }
  }

}

.navigation {
		padding-top: 55px;
    display: flex;
    justify-content: space-between;
}

.nav-manu {
    display: flex;
    justify-content: center;
    align-items: center;

    &__item {
      position: relative;

      &::before {
        width: 10px;
        height: 10px;
        background: transparent;
        border: 1px solid #ffffff;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 2px;
        content: '';

        
      }

      &:first-child::before {
        background: #ffffff;
      }

      &:hover::before {
        background: #ffffff;
      }

		}
		
	&__link {
		text-decoration: none;
		text-transform: uppercase;
    color: #fff;
    padding: 0 15px;
    transition: .3s;
    position: relative;

    

    &:hover {
      color: blue;
      // border-bottom: 1px solid #55b7ff;
      font-weight: 500;
    }
	}
}

.social {
  display: flex;

	&__list {

	}

	&__item {

		&-link {
      width: 10px;
      height: 10px;
		}

		&-img {
			width: 10px;
		}
	}
}
}

