.header {
    background: url('../images/header-bg.png') top center no-repeat;
		min-height: 800px;
    background-size: cover;

	&__capters {
		vertical-align: middle;
		text-transform: uppercase;
		text-align: center;
		color: #fff;
    margin-top: 22%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

	}

	&__title {
		font-size: 80px;
		font-weight: 700;
		margin-bottom: 40px;
	}

	&__subtitle {
		font-size: 18px;
	}

  &__arrow{
    text-align: center;
    margin: 225px auto 0;
    // width: 42px;
    transition: .3s;
    

    
    &-link {
      text-decoration: none;
      color: #ffffff;
      font-size: 35px;
      width: 40px;
      padding: 17px 20px 0;
      position: relative;
      border: 1px solid #fff;
      border-radius: 50%;
      animation: scroll-arrow 1.5s ease-in-out infinite;

      &:hover{
        color: tomato;

    }
    &:hover{
    border: 1px solid tomato;
    border-radius: 50%;
    }

    

    @keyframes scroll-arrow {
      0%{
          top: 0;
      }
      50%{
          top: 15px;
      }

      100%{
          top: 0;
      }
    }
  }

}

.navigation {
		padding-top: 55px;
    display: flex;
    justify-content: space-between;

  &__logo {
    width: 100%;
    max-height: 60px;
    padding-right: 5%;
  }
}

.nav-manu {
    display: flex;
    justify-content: center;
    align-items: center;

    &__item {
      position: relative;
      margin: 0;
      margin-right: 7%;

      @media (max-width: 1200px) {
        margin-right: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      &::before {
        width: 10px;
        height: 10px;
        background: transparent;
        border: 1px solid #ffffff;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        content: '';

        
      }

      &:first-child::before {
        background: #ffffff;
      }

      &:hover::before {
        background: #ffffff;
      }

		}
		
	&__link {
		text-decoration: none;
		text-transform: uppercase;
    color: #fff;
    padding: 0 15px;
    transition: .3s;
    position: relative;

    

    &:hover {
      // color: blue;
      // border-bottom: 1px solid #55b7ff;
      font-weight: 500;
    }
	}
}


}

.social {

  &__list 
  {
    margin-top: 15px;
  }
}