.slider {
	background: url('../images/slider-bg.png') top center no-repeat;
	background-size: cover;
	min-height: 1050px;

  &__title {
		text-align: center;
		text-transform: uppercase;
		font-size: 44px;
		font-weight: 500;
		color: #ffffff;
		padding: 180px 0 100px;
	}

	&__blocks {
		// display: flex;
	}
}

.slider-block {
	color: #2c4058;
	// min-height: 468px;
	margin: 0 15px;
	display: flex;
	justify-content: space-between;

	&--1 {
		background: #ffffff url('../images/news1.png') top center no-repeat;
		background-size: contain;
	}

	&--2 {
		background: #ffffff url('../images/news2.png') top center no-repeat;
		background-size: contain;
	}

	&--3 {
		background: #ffffff url('../images/news3.png') top center no-repeat;
		background-size: contain;
	}

	&__text-wrapper {
		display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 230px;
		margin-top: 82%;
		margin-bottom: 30px;
	}

	&__img {
		// min-width: 118%;
    // margin-left: -9%;

	}

	&__title {
		font-size: 22px;
		font-weight: 700;
		// margin: 13% 0 12%;
	}

	&__text {
		font-size: 18px;
	}

	&__about-author {
		display: flex;
		align-items: center;
		// margin: 20% 0 13%;
	}

	&__author-img {
		max-width: 60px;
		max-height: 60px;
		margin-right: 18px;
	}



	&__author {
		font-size: 18px;
		text-transform: uppercase;
		margin-bottom: 14px;
	}

	&__data {
		color: #55b7ff;
		font-size: 14px;
	}
}


.slick-dots {
	bottom: -65px;
	// top: 50px
}

.slick-dots li {
	// width: 10px;
}

.slick-dots li button::before {
	font-size: 16px;
	border: 2px solid #fff;
	border-radius: 50%;
	content: '';
	width: 10px;
	height: 10px;
	transition: .5s;
}

.slick-dots li.slick-active button::before {
	background: #fff;
}

.slick-arrow {}

.slick-next:before {
	content: '\203A';
	border: 1px solid #fff;
	border-radius: 50%;
	padding: 8px 16px 12px;

	&:hover {
		color: #55b7ff;
		border: 1px solid #55b7ff;
		border-radius: 50%;
		font-weight: 500;
	}
}

.slick-prev:before {
	content: '\2039';
	border: 1px solid #fff;
	border-radius: 50%;
	padding: 8px 16px 12px;
	margin-right: 10px;
	position: absolute;
  left: -20px;
  top: -5px;

	&:hover {
		color: #55b7ff;
		border: 1px solid #55b7ff;
		border-radius: 50%;
		font-weight: 500;
	}
}